*{
    margin: 0;
    padding: 0;
}
.district{
    transition: linear 0.5s;
}
.district:hover{
transform: scale(1.1);
transition: linear 0.5s;
}
.card-body a{
    text-decoration: none;
}
.errorMessage {
    color: red;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    margin: 2px auto;
    width: 100%;
    height: 0.5em;
  
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }

  /* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: #ff6500; }
meter[value="3"]::-webkit-meter-optimum-value { background: seagreen; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: #ff6500; }
meter[value="3"]::-moz-meter-bar { background: seagreen; }